<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java2nb.novel.dao.SensitiveWordDao">

    <select id="get" resultType="com.java2nb.novel.domain.SensitiveWordDO">
        select `id`, `word`, `create_time` from sensitive_word where id = #{value}
    </select>

    <select id="list" resultType="com.java2nb.novel.domain.SensitiveWordDO">
        select `id`, `word`, `create_time` from sensitive_word
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="word != null and word != ''">and word = #{word}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from sensitive_word
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="word != null and word != ''">and word = #{word}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.java2nb.novel.domain.SensitiveWordDO" useGeneratedKeys="true" keyProperty="id">
        insert into sensitive_word
        (
        `word`,
        `create_time`
        )
        values
        (
        #{word},
        #{createTime}
        )
    </insert>

    <update id="update" parameterType="com.java2nb.novel.domain.SensitiveWordDO">
        update sensitive_word
        <set>
            <if test="word != null">`word` = #{word}, </if>
            <if test="createTime != null">`create_time` = #{createTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from sensitive_word where id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from sensitive_word where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>