<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${websiteInfo.id}"
                               type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站名：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name"
                                       th:value="${websiteInfo.name}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站域名：</label>
                            <div class="col-sm-8">
                                <input id="domain" name="domain"
                                       th:value="${websiteInfo.domain}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">SEO关键词：</label>
                            <div class="col-sm-8">
                                <input id="keyword" name="keyword"
                                       th:value="${websiteInfo.keyword}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站描述：</label>
                            <div class="col-sm-8">
                                <input id="description" name="description"
                                       th:value="${websiteInfo.description}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">站长QQ：</label>
                            <div class="col-sm-8">
                                <input id="qq" name="qq"
                                       th:value="${websiteInfo.qq}"
                                       class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站logo图片（默认）：</label>
                            <div class="col-sm-8">
                                <input id="logo" name="logo" th:value="${websiteInfo.logo}" type="hidden">
                                <img id="picImagelogo" th:src="${websiteInfo.logo == null || websiteInfo.logo == '' ? '/img/webuploader.png' : websiteInfo.logo}" style="width: 100px; height: 100px; cursor: pointer;"/>
                                <span class="help-block m-b-none">点击图片上传</span>
                                <button type="button" class="btn btn-xs btn-danger" onclick="clearImg('logo')" style="margin-top: 5px;">清除图片</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">网站logo图片（深色）：</label>
                            <div class="col-sm-8">
                                <input id="logoDark" name="logoDark" th:value="${websiteInfo.logoDark}" type="hidden">
                                <img id="picImagelogoDark" th:src="${websiteInfo.logoDark == null || websiteInfo.logoDark == '' ? '/img/webuploader.png' : websiteInfo.logoDark}" style="width: 100px; height: 100px; cursor: pointer;"/>
                                <span class="help-block m-b-none">点击图片上传</span>
                                <button type="button" class="btn btn-xs btn-danger" onclick="clearImg('logoDark')" style="margin-top: 5px;">清除图片</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">前台模板：</label>
                            <div class="col-sm-8">
                                <select id="templateName" name="templateName" class="form-control">
                                    <option value="green" th:selected="${websiteInfo.templateName == null || websiteInfo.templateName == 'green'}">green</option>
                                    <option value="orange" th:selected="${websiteInfo.templateName == 'orange'}">orange</option>
                                    <option value="blue" th:selected="${websiteInfo.templateName == 'blue'}">blue</option>
                                    <option value="dark" th:selected="${websiteInfo.templateName == 'dark'}">dark</option>
                                </select>
                                <span class="help-block m-b-none">保存后立即生效；如需强制失效 Redis 网站配置缓存，可手动清理。</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">小说敏感词替换：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="novelSensitiveWordEnabled" value="1" th:checked="${websiteInfo.novelSensitiveWordEnabled == 1}"> 开启
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="novelSensitiveWordEnabled" value="0" th:checked="${websiteInfo.novelSensitiveWordEnabled == null || websiteInfo.novelSensitiveWordEnabled == 0}"> 关闭
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">新闻敏感词替换：</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="newsSensitiveWordEnabled" value="1" th:checked="${websiteInfo.newsSensitiveWordEnabled == 1}"> 开启
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="newsSensitiveWordEnabled" value="0" th:checked="${websiteInfo.newsSensitiveWordEnabled == null || websiteInfo.newsSensitiveWordEnabled == 0}"> 关闭
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">保存</button>
                                <button type="button" class="btn btn-default" onclick="clearWebsiteCache()">清理缓存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/wangEditor/release/wangEditor.js"></script>
<script type="text/javascript" src="/js/appjs/novel/websiteInfo/edit.js?v=20260612">
</script>
</body>
</html>
